<div class="page-actions" style="width: 100%;">
    <div class="page-actions-inner">
        <div class="page-actions-buttons">
            <button id="back" type="button" class="action- scalable back">
                <span>Back</span>
            </button>
            <button id="save" type="button"
                    class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text">
                        <span>Save</span>
                    </span>
            </button>
        </div>
    </div>
</div>
